p {
  color: cornflowerblue;
  background-color: yellow;
  line-height: 3px; /* tamanho da altura de cada linha */
  letter-spacing: 3px; /* tamanho do espaço entre cada letra */
  word-spacing: 5px; /* tamanho do espaço entre cada palavra */
  text-indent: 30px; /* tamanho da margem da primeira linha do texto */
  margin: 0 auto;
}


body {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto;
}