html
  head
    title Teste Jade

  body
    h1
      |Jade é um puta framework de template
    div#container
      p
        |Atenção
        |Faça esta merda direito porra!!!
        | Valor recebido como parâmetro #{nome} e sua idade #{idade}
        br
        a(href="http://google.com", title="Entre no google") Entre no google
      form(name="form", novalidate, action="/users", method="post")
        input(type="text", name="login", placeholder="Informe o Login")
        input(type="text", name="senha", placeholder="Informe a Senha")
        input(type="submit", value="Enviar")

