*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}


a{
    color: inherit;
    text-decoration: inherit;
}

ul, ol, li{
    list-style: none
}


body{
    background: #E8E8E8;
    font-family: 'Verdana', sans-serif;
}

textarea{
  font-family: inherit;
}
